EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
EXPO_PUBLIC_APP_NAME=Vigil
EXPO_PUBLIC_APP_SLUG=vigil-risk-intelligence
EXPO_PUBLIC_APP_SCHEME=vigil
APPLE_BUNDLE_IDENTIFIER=com.abduzahid8.vigil
ANDROID_PACKAGE=com.abduzahid8.vigil
EAS_PROJECT_ID=bbda81dd-13fc-47ee-a82a-29dfcd1936b7
